<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">


  <test thread-count="5" name="testNGBasics">
    <classes>
      <class name="SeleniumAcademy.testNGBasics">
      </class>
      <class name ="SeleniumAcademy.testNGBasics2">
      </class>
    </classes>
  </test>
  
</suite> <!-- Suite -->
